XML-Schemas/V1.1/Abnahme/CertificationTrackEventInformation_11.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2009 sp1 (http://www.altova.com) von Deutsche Post AG (Deutsche Post AG) bearbeitet -->
<definitions targetNamespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:isdx="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1" xmlns:jms="http://schemas.xmlsoap.org/wsdl/jms/" xmlns:pri="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/types" xmlns:sdx="http://types.sopware.org/service/ServiceDescription/2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:svn0="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsRequest" xmlns:svn1="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsResponse" xmlns:svn2="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon" xmlns:err="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" xmlns:tns="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<types>
		<xsd:schema targetNamespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsRequest" xmlns="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsRequest" xmlns:te="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<xsd:import namespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon"/>
			<xsd:element name="Request">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="getTrackEventsRequest" type="te:GetTrackEventsRequestType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsResponse" xmlns="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/getTrackEventsResponse" xmlns:err="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" xmlns:te="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<xsd:import namespace="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling"/>
			<xsd:import namespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon"/>
			<xsd:element name="Response">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="Exception" type="err:ExceptionFrame"/>
						<xsd:element name="getTrackEventsResponse" type="te:GetTrackEventsResponseType"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon" xmlns="urn:www-deutschepost-de:Fulfillment/CertificationTrackEventInformation/1.1/tecommon" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
			<xsd:simpleType name="ActionType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="StreetName" type="string50_Type"/>
					<xsd:element minOccurs="0" name="StreetNumber" type="string20_Type"/>
					<xsd:element minOccurs="0" name="District" type="string50_Type"/>
					<xsd:element minOccurs="0" name="Zip" type="string10_Type"/>
					<xsd:element minOccurs="0" name="CityName" type="string50_Type"/>
					<xsd:element minOccurs="0" name="CC" type="string2Fix_Type"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ContactType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="FirstName" type="string35_Type"/>
					<xsd:element minOccurs="0" name="LastName" type="string35_Type"/>
					<xsd:element minOccurs="0" name="Role" type="string50_Type"/>
					<xsd:element minOccurs="0" name="Position" type="string50_Type"/>
					<xsd:element minOccurs="0" name="Department" type="string40_Type"/>
					<xsd:element minOccurs="0" name="Address" type="AddressType"/>
					<xsd:element minOccurs="0" name="POBAddress" type="POBAddressType"/>
					<xsd:element minOccurs="0" name="Email" type="string50_Type"/>
					<xsd:element minOccurs="0" name="Phone" type="string25_Type"/>
					<xsd:element minOccurs="0" name="Fax" type="string25_Type"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CreateTrackEventsRequestType">
				<xsd:sequence>
					<xsd:element name="MsgHeader" type="MsgHeaderRequestType"/>
					<xsd:element name="TrackEventList" type="TrackEventListCreateType"/>
				</xsd:sequence>
				<xsd:attribute name="codeTableVersion" type="string5_Type" use="optional"/>
				<xsd:attribute name="version" type="string5_Type" use="required"/>
				<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="CreateTrackEventsResponseType">
				<xsd:sequence>
					<xsd:element name="Return" type="ReturnType"/>
					<xsd:element name="MsgHeader" type="MsgHeaderResponseType"/>
					<xsd:element minOccurs="0" name="TrackEventList">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="TrackEvent" type="TrackEventResponseCreateType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="codeTableVersion" type="string5_Type" use="optional"/>
				<xsd:attribute name="version" type="string5_Type" use="required"/>
				<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="CreationDeviceType">
				<xsd:attribute name="type" type="xsd:string" use="required"/>
				<xsd:attribute name="id" type="xsd:string" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="CreationPartyType">
				<xsd:sequence>
					<xsd:element name="CustID" type="string10_Type"/>
					<xsd:element minOccurs="0" name="Name" type="string120_type"/>
					<xsd:element minOccurs="0" name="Address" type="AddressType"/>
					<xsd:element minOccurs="0" name="POBAddress" type="POBAddressType"/>
					<xsd:element minOccurs="0" name="LargeCustZip" type="string10_Type"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="ContactType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CustDetailsType">
				<xsd:sequence>
					<xsd:element name="CustID" type="string10_Type"/>
					<xsd:element minOccurs="0" name="Name" type="string120_type"/>
					<xsd:element minOccurs="0" name="Address" type="AddressType"/>
					<xsd:element minOccurs="0" name="POBAddress" type="POBAddressType"/>
					<xsd:element minOccurs="0" name="LargeCustZip" type="string10_Type"/>
					<xsd:element minOccurs="0" name="Contact" type="ContactType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CustOrderIDType">
				<xsd:sequence>
					<xsd:element name="CustID" type="string10_Type"/>
					<xsd:element minOccurs="0" name="SystemName" type="string10_Type"/>
					<xsd:element name="SystemID" type="string15_Type"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorMessageType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ErrDateTime" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="ErrCat" type="string1-10_Type"/>
					<xsd:element name="ErrCode" type="string1-10_Type"/>
					<xsd:element minOccurs="0" name="ErrDesc" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GetTrackEventsRequestType">
				<xsd:sequence>
					<xsd:element name="MsgHeader" type="MsgHeaderRequestType"/>
					<xsd:element maxOccurs="unbounded" name="TrackEventFilter" type="TrackEventFilterType"/>
				</xsd:sequence>
				<xsd:attribute name="codeTableVersion" type="string5_Type" use="optional"/>
				<xsd:attribute name="version" type="string5_Type" use="required"/>
				<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
				<xsd:attribute name="maxResult" type="string1-5_Type" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="GetTrackEventsResponseType">
				<xsd:sequence>
					<xsd:element name="Return" type="ReturnType"/>
					<xsd:element name="MsgHeader" type="MsgHeaderResponseType"/>
					<xsd:element name="TrackEventList" type="TrackEventListGetType"/>
				</xsd:sequence>
				<xsd:attribute name="codeTableVersion" type="string5_Type" use="optional"/>
				<xsd:attribute name="version" type="string5_Type" use="required"/>
				<xsd:attribute name="testcase" type="xsd:boolean" use="optional"/>
				<xsd:attribute name="maxResultsExceeded" type="xsd:boolean" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="GWMType">
				<xsd:attribute name="value" type="Number7.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="HeightType">
				<xsd:attribute name="value" type="Number9.3_Type"/>
				<xsd:attribute name="unit" type="UnitType"/>
			</xsd:complexType>
			<xsd:simpleType name="IBANType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="34"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="IndividualWeightType">
				<xsd:attribute name="value" type="Number9.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="LengthType">
				<xsd:attribute name="value" type="Number9.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="LineItemType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ProductNumber" type="string1-9_Type"/>
					<xsd:element minOccurs="0" name="Variant" type="string50_Type"/>
					<xsd:element minOccurs="0" name="EarliestDateTime" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="LatestDateTime" type="xsd:dateTime"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MailEntityAttributesType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="MailEntityLocation" type="MailEntityLocationType"/>
					<xsd:element minOccurs="0" name="MailEntityCondition" type="string50_Type"/>
					<xsd:element minOccurs="0" name="MailEntityDestinationAddress" type="MailEntityDestinationAddressType"/>
					<xsd:element minOccurs="0" name="MailEntityGWM" type="GWMType"/>
					<xsd:element minOccurs="0" name="MailEntityDimensions" type="MailEntityDimensionsType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="MailEntityConstraints" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Comment" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherAttribute" type="OtherAttributeType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MailEntityDestinationAddressType">
				<xsd:choice>
					<xsd:element name="ZipAddress" type="ZipAddressType"/>
					<xsd:element name="Address" type="AddressType"/>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="MailEntityDimensionsType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Height" type="HeightType"/>
					<xsd:element minOccurs="0" name="Length" type="LengthType"/>
					<xsd:element minOccurs="0" name="Width" type="WidthType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MailEntityLocationType">
				<xsd:choice>
					<xsd:element name="ProductionPlantID" type="string50_Type"/>
					<xsd:element name="Address" type="AddressType"/>
				</xsd:choice>
			</xsd:complexType>
			<xsd:complexType name="MailEntityType">
				<xsd:attribute name="type" type="string50_Type" use="optional"/>
				<xsd:attribute name="id" type="string100_Type" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="MailEntityIntervallType">
				<xsd:sequence>
					<xsd:element name="MailEntityFrom" type="MailEntityType"/>
					<xsd:element name="MailEntityTo" type="MailEntityType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="MessageIdType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="21"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="MsgHeaderRequestType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="MsgSource" type="string10_Type"/>
					<xsd:element minOccurs="0" name="MsgFormat" type="string32_Type"/>
					<xsd:element minOccurs="0" name="User" type="UserType"/>
					<xsd:element minOccurs="0" name="Password" type="PasswordType"/>
					<xsd:element name="MsgID" type="MessageIdType"/>
					<xsd:element minOccurs="0" name="ODOCID" type="ODOCIDType"/>
					<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
					<xsd:element name="Receiver" type="string10_Type"/>
					<xsd:element minOccurs="0" name="CommunicationPartner" type="string32_Type"/>
					<xsd:element name="SubmitterSMS" type="SubmitterSMSType"/>
					<xsd:element name="Origin" type="OriginType"/>
					<xsd:element minOccurs="0" name="FreeText" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="MsgHeaderResponseType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="MsgFormat" type="string32_Type"/>
					<xsd:element name="MsgID" type="MessageIdType"/>
					<xsd:element minOccurs="0" name="ODOCID" type="ODOCIDType"/>
					<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
					<xsd:element name="Receiver" type="string10_Type"/>
					<xsd:element minOccurs="0" name="CommunicationPartner" type="string32_Type"/>
					<xsd:element minOccurs="0" name="Origin" type="OriginType"/>
					<xsd:element minOccurs="0" name="FreeText" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="Number10.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="10"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number10.2_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="10"/>
					<xsd:fractionDigits value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number10Type">
				<xsd:restriction base="xsd:unsignedLong">
					<xsd:totalDigits value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number10_Type">
				<xsd:restriction base="xsd:long">
					<xsd:minInclusive value="0"/>
					<xsd:totalDigits value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number12.2_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="12"/>
					<xsd:fractionDigits value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number13Type">
				<xsd:restriction base="xsd:unsignedLong">
					<xsd:totalDigits value="13"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number2.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="2"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number3Type">
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number4.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="4"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number4Type">
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number5.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="5"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number5Type">
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number6.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="6"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number7.3_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="10"/>
					<xsd:fractionDigits value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number8Type">
				<xsd:restriction base="xsd:integer">
					<xsd:totalDigits value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number9.0_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="9"/>
					<xsd:fractionDigits value="0"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="Number9.3_Type">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="9"/>
					<xsd:fractionDigits value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="NWMType">
				<xsd:attribute name="value" type="Number7.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:simpleType name="ODOCIDType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OrderIdType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="14"/>
					<xsd:pattern value="[0-9]*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="OrderType_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="OriginType">
				<xsd:sequence>
					<xsd:element name="SystemName" type="string15_Type"/>
					<xsd:element minOccurs="0" name="SystemVersion" type="string20_Type"/>
					<xsd:element minOccurs="0" name="CertificationDate" type="xsd:date"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="OtherAttributeType">
				<xsd:attribute name="type" type="string50_Type" use="required"/>
				<xsd:attribute name="value" type="string50_Type" use="optional"/>
			</xsd:complexType>
			<xsd:simpleType name="PackageTypeType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="3"/>
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ParametersType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="TextParameter">
						<xsd:complexType>
							<xsd:attribute name="type" type="string17_Type"/>
							<xsd:attribute name="value" type="string50_Type"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ParticipationType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="PasswordType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="6"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="POBAddressType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Zip" type="string10_Type"/>
					<xsd:element minOccurs="0" name="CityName" type="string50_Type"/>
					<xsd:element minOccurs="0" name="Postbox" type="string10_Type"/>
					<xsd:element minOccurs="0" name="CC" type="string2Fix_Type"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="PostCardIDType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="16"/>
					<xsd:maxLength value="17"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ProcedureType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ProcessType">
				<xsd:attribute name="type" type="string120_type" use="required"/>
				<xsd:attribute name="step" type="string120_type" use="optional"/>
				<xsd:attribute name="id" type="string20_Type" use="optional"/>
			</xsd:complexType>
			<xsd:simpleType name="QuantityType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="9"/>
					<xsd:pattern value="[0-9]*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="RefOrderMultipleType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="OrderID" type="OrderIdType"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="CustOrderID" type="CustOrderIDType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RefOrderType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="OrderID" type="OrderIdType"/>
					<xsd:element minOccurs="0" name="CustOrderID" type="CustOrderIDType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ReturnType">
				<xsd:sequence>
					<xsd:element name="ReturnCode" type="string10_Type"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrMsg" type="ErrorMessageType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="RubricType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="StateType">
				<xsd:simpleContent>
					<xsd:extension base="string3_Type">
						<xsd:attribute name="final" type="xsd:boolean" use="optional"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			<xsd:complexType name="StatisticalOrderItemType">
				<xsd:sequence>
					<xsd:element name="RemittanceNumber" type="Number10Type"/>
					<xsd:element name="UsageNumber" type="Number10Type"/>
					<xsd:element minOccurs="0" name="EkpIDCustomer" type="String10Type"/>
					<xsd:element name="CurrentDate" type="xsd:gYearMonth"/>
					<xsd:element name="ProductIDUBMail" type="Number5Type"/>
					<xsd:element name="NumberOfProducts" type="Number10Type"/>
					<xsd:element name="Amount" type="Number10Type"/>
					<xsd:element minOccurs="0" name="Currency" type="String3Type"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StatisticalOrderListType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="StatisticalOrder" type="StatisticalOrderType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="StatisticalOrderType">
				<xsd:sequence>
					<xsd:element name="RemittanceNumber" type="Number10Type"/>
					<xsd:element name="ReceiptNumber" type="Number10Type"/>
					<xsd:element name="Client" type="String3Type"/>
					<xsd:element name="FrankingType" type="Number3Type"/>
					<xsd:element name="FrankingVersion" type="Number3Type"/>
					<xsd:element name="VersionPPL" type="Number3Type"/>
					<xsd:element name="CommunicationID" type="Number3Type"/>
					<xsd:element name="DateTimeOfCharge" type="xsd:dateTime"/>
					<xsd:element name="TotalChargeAmount" type="Number13Type"/>
					<xsd:element name="RemainingChargeAmount" type="Number8Type"/>
					<xsd:element name="CurrentUse" type="Number10Type"/>
					<xsd:element name="ItemNumber" type="Number10Type"/>
					<xsd:element name="ChargeAmount" type="Number10Type"/>
					<xsd:element name="EkpIDMailInitiator" type="String10Type"/>
					<xsd:element minOccurs="0" name="ProcessParticipation" type="String4Type"/>
					<xsd:element name="MaschineNumber" type="String10Type"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="StatisticalOrderItem" type="StatisticalOrderItemType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="string1-10_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string1-15_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="15"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string1-5_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string1-9_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="9"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string100_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="100"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="String10Type">
				<xsd:restriction base="xsd:string">
					<xsd:length value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string10_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="10"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string11_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="11"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string120_type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="120"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string13_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="13"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string14_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="14"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string15_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="15"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string17_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="17"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string18_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="18"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string1Fix_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string1_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="1"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string20_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string25_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="25"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string2Fix_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="2"/>
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string2_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string32_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="32"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string35_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="35"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string3Fix_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="3"/>
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="String3Type">
				<xsd:restriction base="xsd:string">
					<xsd:length value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string3_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string40_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="40"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="String4Type">
				<xsd:restriction base="xsd:string">
					<xsd:length value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string4_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="4"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string50_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string5_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="5"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="String64Type">
				<xsd:restriction base="xsd:string">
					<xsd:length value="64"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string8_Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="SubmitterSMSType">
				<xsd:sequence>
					<xsd:element name="CustID" type="string10_Type"/>
					<xsd:element minOccurs="0" name="Name" type="string120_type"/>
					<xsd:element minOccurs="0" name="Address" type="AddressType"/>
					<xsd:element minOccurs="0" name="POBAddress" type="POBAddressType"/>
					<xsd:element minOccurs="0" name="LargeCustZip" type="string10_Type"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Contact" type="ContactType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ThicknessType">
				<xsd:attribute name="value" type="Number9.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="TrackEventFilterType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="RequestingParty">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="CustID" type="string10_Type"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="TrackEventID" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CreationDateTimeFrom" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="CreationDateTimeTo" type="xsd:dateTime"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="CreationDevice" type="CreationDeviceType"/>
					<xsd:element minOccurs="0" name="CreationParty">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" name="CustID" type="string10_Type"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:choice maxOccurs="unbounded" minOccurs="0">
						<xsd:element name="OrderID" type="OrderIdType"/>
						<xsd:element name="CustOrderID" type="CustOrderIDType"/>
					</xsd:choice>
					<xsd:choice>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="MailEntity" type="MailEntityType"/>
						<xsd:element name="MailEntityIntervall" type="MailEntityIntervallType"/>
					</xsd:choice>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Process" type="ProcessType"/>
					<xsd:element minOccurs="0" name="MailEntityLocation">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element maxOccurs="unbounded" minOccurs="0" name="ProductionPlantID" type="string50_Type"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="MailEntityCondition" type="string50_Type"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="OtherAttribute" type="OtherAttributeType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrackEventListCreateType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="TrackEvent" type="TrackEventRequestCreateType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrackEventListGetType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="TrackEvent" type="TrackEventResponseGetType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrackEventRequestCreateType">
				<xsd:sequence>
					<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="CreationDevice" type="CreationDeviceType"/>
					<xsd:element name="CreationParty" type="CreationPartyType"/>
					<xsd:element minOccurs="0" name="OrderID" type="OrderIdType"/>
					<xsd:element minOccurs="0" name="CustOrderID" type="CustOrderIDType"/>
					<xsd:element minOccurs="0" name="MailEntity" type="MailEntityType"/>
					<xsd:element name="Process" type="ProcessType"/>
					<xsd:element minOccurs="0" name="Observation" type="MailEntityAttributesType"/>
					<xsd:element minOccurs="0" name="Expectation" type="MailEntityAttributesType"/>
				</xsd:sequence>
				<xsd:attribute name="consecutiveNumber" type="Number6.0_Type" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="TrackEventResponseCreateType">
				<xsd:sequence>
					<xsd:element name="TrackEventID" type="xsd:string"/>
					<xsd:element name="CreationDateTime" type="xsd:dateTime"/>
				</xsd:sequence>
				<xsd:attribute name="consecutiveNumber" type="Number6.0_Type" use="required"/>
			</xsd:complexType>
			<xsd:complexType name="TrackEventResponseGetType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="TrackEventID" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CreationDateTime" type="xsd:dateTime"/>
					<xsd:element minOccurs="0" name="CreationDevice" type="CreationDeviceType"/>
					<xsd:element minOccurs="0" name="CreationParty" type="CreationPartyType"/>
					<xsd:element minOccurs="0" name="OrderID" type="OrderIdType"/>
					<xsd:element minOccurs="0" name="CustOrderID" type="CustOrderIDType"/>
					<xsd:element maxOccurs="unbounded" name="MailEntity" type="MailEntityType"/>
					<xsd:element name="Process" type="ProcessType"/>
					<xsd:element minOccurs="0" name="Observation" type="MailEntityAttributesType"/>
					<xsd:element minOccurs="0" name="Expectation" type="MailEntityAttributesType"/>
				</xsd:sequence>
				<xsd:attribute name="consecutiveNumber" type="Number6.0_Type" use="required"/>
			</xsd:complexType>
			<xsd:simpleType name="UnitType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="3"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="UserType">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="4"/>
					<xsd:maxLength value="8"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Value50Type_Type">
				<xsd:attribute name="value" type="string50_Type" use="required"/>
				<xsd:attribute name="type" type="string10_Type" use="optional"/>
			</xsd:complexType>
			<xsd:simpleType name="Value5Type">
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="0"/>
					<xsd:maxLength value="5"/>
					<xsd:pattern value="[0-9]*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ValueUnitType">
				<xsd:attribute name="value" type="xsd:string" use="optional"/>
				<xsd:attribute name="unit" type="xsd:string" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="WidthType">
				<xsd:attribute name="value" type="Number9.3_Type" use="required"/>
				<xsd:attribute name="unit" type="UnitType" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="ZipAddressType">
				<xsd:attribute name="zip" type="string10_Type"/>
				<xsd:attribute name="zipFrom" type="string10_Type"/>
				<xsd:attribute name="zipTo" type="string10_Type"/>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" xmlns="urn:www-deutschepost-de:GeneralTypes/1.0/errorHandling" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:annotation>
				<xsd:documentation>
					<service>General Types errorHandling</service>
					<creationdate>2005-05-17</creationdate>
					<ServiceDesigner>Technical Service Design</ServiceDesigner>
					<revisionhistory>1.0 Initial Version </revisionhistory>
					<description>Includes errorHandling data types</description>
				</xsd:documentation>
			</xsd:annotation>
			<!-- ExceptionFrame -->
			<xsd:complexType name="ExceptionFrame">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ExceptionDetail" type="ExceptionType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!-- ExceptionType Definition -->
			<xsd:complexType name="ExceptionType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Reference" type="xsd:string"/>
				</xsd:sequence>
				<xsd:attribute name="ServiceParticipant" type="ServiceParticipantType" use="required"/>
				<xsd:attribute name="DomainName" type="xsd:string" use="required"/>
				<xsd:attribute name="ServiceName" type="xsd:string" use="required"/>
				<xsd:attribute name="Version" type="xsd:string" use="required"/>
				<xsd:attribute name="Operation" type="xsd:string" use="required"/>
				<xsd:attribute name="ExceptionClass" type="ExceptionClassType" use="required"/>
				<xsd:attribute name="ExceptionID" type="ExceptionIDType" use="required"/>
				<xsd:attribute name="ExceptionText" type="ExceptionTextType" use="required"/>
				<xsd:attribute name="CAT_Severity" type="CAT_ITOLogLevel" use="required"/>
				<xsd:attribute name="hasBeenLogged" type="xsd:boolean" use="required"/>
				<xsd:attribute name="LogTargetList" type="xsd:string" use="optional"/>
				<!-- A comma seperated list of protocol locations, i.e.: 'ITO, file://c:/myapplication/application.log' -->
			</xsd:complexType>
			<xsd:simpleType name="ExceptionClassType">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]{1}[a-zA-Z0-9_]*Exception"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ExceptionIDType">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits fixed="true" value="5"/>
					<xsd:minInclusive value="10000"/>
					<xsd:maxInclusive value="99999"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ExceptionTextType">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength fixed="false" value="256"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="ServiceParticipantType">
				<xsd:restriction base="xsd:string">
					<xsd:length value="9"/>
					<xsd:pattern value="[0-9]*"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="CAT_ITOLogLevel">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NORM"/>
					<xsd:enumeration value="WARN"/>
					<xsd:enumeration value="MINO"/>
					<xsd:enumeration value="MAJO"/>
					<xsd:enumeration value="CRIT"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<wsdl:message name="getTrackEventsRequest">
		<wsdl:part element="svn0:Request" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getTrackEventsResponse">
		<wsdl:part element="svn1:Response" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getTrackEventsAsyncRequest">
		<wsdl:part element="svn0:Request" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getTrackEventsAsyncResponse">
		<wsdl:part element="svn1:Response" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getTrackEventsAsyncFault">
		<wsdl:part element="svn1:Response" name="parameters"/>
	</wsdl:message>
	<portType name="CertificationTrackEventInformation" sdx:status="design" sdx:version="1.0">
		<wsdl:operation name="getTrackEvents">
			<wsdl:input message="tns:getTrackEventsRequest"/>
			<wsdl:output message="tns:getTrackEventsResponse"/>
			<wsdl:fault message="tns:getTrackEventsResponse" name="fault"/>
		</wsdl:operation>
	</portType>
	<wsdl:service name="CertificationTrackEventInformationProvider">
		<wsdl:port binding="isdx:localhostBinding" name="localhost">
			<soap:address location="https://localhost:8888/soap/CertificationTrackEventInformationProvider"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:binding name="localhostBinding" type="isdx:CertificationTrackEventInformation">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getTrackEvents">
			<soap:operation soapAction="Fulfillment/CertificationTrackEventInformation/1.1#getTrackEvents"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</definitions>
